
#blog-container{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 50px;
}
.blog-title{
    text-align: center;
}
.blog-createTime{
    color: gray;
}
.blog-copyright{
    color: gray;
}
.next-last-blog-style{
    margin-top: 20px;
    font-size: 16px;
}